@(user: IdentityUser, form: Form[Search])

@main("Hey there, buddy!") {

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">inkling</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Peliculas <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Nav header</li>
                                <li><a href="#">Separated link</a></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                        <li @if(session().get("set") == "all"){class="active"}><a href="@routes.MovieController.movies("all")">Recomendaciones</a></li>
                    </ul>
                    <form class="navbar-form pull-left" action="@routes.MovieController.find()" method="post">
                        <input class="span2" type="text" value="@form("q").value" placeholder="Buscar">
                    </form>
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-user"></i> Beto @user.firstName() <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/logout_">Salir</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">
        <h3>En cartelera</h3>
        <div class="movies-ctr clearfix">
            <div id="top-carousel" class="carousel slide">
                <div class="carousel-inner"> </div>

                <a class="arrow left" href="#top-carousel" data-slide="prev"> </a>
                <a class="arrow right" href="#top-carousel" data-slide="next"> </a>
            </div>
        </div>


	    <div id="movies" class="movies clearfix"> </div>
	    <div id="loading" class="text-center"><img src="@routes.Assets.at("images/loading.gif")" /> </div>
    </div>
    <div id="movie-mask-ok" class="mask-ok hide">

    </div>

    <script id="movie-tpl" type="text/x-jquery-tmpl">
	<div class="movie span-m" id="${id}">
	    <img src="http://localhost/entrtnte/images/${img}" class="cover" />
	    <div class="info">
		<h5 class="title">${name}</h5>
		<h6 class="director">Dir. ${director}</h6>
		<h6 class="country">${country} <span class="year">${year}</span></h6>
		<div class="rate"></div>
	    </div>
	</div>
    </script>

}{

    <script type="text/javascript">
	$(function(){
	    $.fn.raty.defaults.path = '@routes.Assets.at("images/icons")';

        var $movies = $("#movies");
	    var $movieTpl = $("#movie-tpl");
        var $win = $(window);

        var working = false;
        var currentScheme;
        var props = {
            "narrow": 4,
            "medium": 5,
            "wide": 6
        }

        buildCarousel("#top-carousel", "top");
        loadMore();


	    $win.scroll(function(){
		    if ($win.scrollTop() >= $(document).height() - $win.height() - 100 ){
		        loadMore();
		    }
	    });

        $win.resize(function() {
            var width = $win.width();
            var newScheme;
            if(width < 980) {
                newScheme = "narrow";
            } else if(width >= 980 && width < 1200) {
                newScheme = "medium";
            } else {
                newScheme = "wide";
            }
            if(currentScheme != newScheme) {
                currentScheme = newScheme;
            }

        }).resize();


        function buildCarousel(container, which) {
            var movies = [];

            $.post("/movies/" + which).done(function(data){
                if(data && (data instanceof Array)){
                    movies = data;
                    var n = movies.length / props[currentScheme];
                    var $i;
                    var items = [];

                    for(var i = 0; i < movies.length; i++) {
                        if($i == undefined || i % props[currentScheme] == 0) {
                            $i = $("<div/>", {"class": "item" + ((i == 0)?" active":"")  });
                            items.push($i);
                        }
                        var $movie = $movieTpl.tmpl(movies[i]).appendTo($i);
                        buildRater($movie);
                    }
                    $(container +" .carousel-inner" ).append(items);
                    $(container).carousel();

                }
            });
        }

        function buildRater($movie){
            $(".rate", $movie).raty({
                half: true,
                click: function(score, evt) {
                            var $movie = $(this).parents(".movie");

                            jsRoutes.controllers.MovieController.rate($movie.attr("id"), score).ajax({
                                success: function(data) {
                                            $("#movie-mask-ok").clone().removeAttr("id").appendTo($movie).fadeIn("slow", function(){
                                                $(evt.currentTarget).tooltip("destroy");
                                                $movie.fadeOut("slow", function() { $(this).remove() });
                                            });
                                         }
                             });
                       }
             }).find("img").tooltip({container: "body"});
        }

	    function loadMore(){

            jsRoutes.controllers.MovieController.load(3).ajax({
		        type: "post",
		        beforeSend: function (xhr) {
			        if(working) {
			            return false;
			        }
			        working = true;
		        }
		    }).done(function (data) {
		        if(data && (data instanceof Array)){

                    $.each(data, function(i, val){
                        var $movie = $movieTpl.tmpl(val).appendTo($movies);
                        buildRater($movie);
                    });
		        }
		        working = false;
		    });
	    }
	});
    </script>

}

