@(temporal :List[Movie])

@import tags.platillita

@main2("Login") {




    <table class="table">
        @for(movie <- temporal) {
        <tr>
            <td width="100px">&nbsp;</td>
            <td width="120px"><img src="http://localhost/entrtnte/images/@movie.img" width="100px" class="cover" />
            </td>
            <td>
                <ul>
                    <li><strong>Id:</strong> @platillita(movie)</li>
                    <li><strong>Nombre Ingles: </strong> @movie.name</li>
                    <li><strong>Nombre Espanol: </strong> @movie.nameEs</li>
                    <li><strong>Anio: </strong>@movie.year</li>
                    <li><strong>Director: </strong>@movie.director</li>
                    <li><strong>Pais: </strong>@movie.country</li>
                    <li><strong>Reparto: </strong>@movie.cast</li>
                </ul>
            </td>
        </tr>
        }

    </table>




}